.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  padding: 20px;
}

.logoImage {
  height: 100%;
  border-radius: 16px;
}

.title {
  color: #ffffff;
  margin: 16px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.75em;
}